<md-toolbar layout="row" layout-align="center center" ng-controller="NavbarCtrl">

  <md-button aria-label="foo" href="https://github.com/Swiip/generator-gulp-angular">Gulp Angular</md-button>

  <section flex layout="row" layout-align="left center">
    <md-button aria-label="foo" href="#" class="md-raised">Home</md-button>
    <md-button aria-label="foo" href="#" class="md-raised">About</md-button>
    <md-button aria-label="foo" href="#" class="md-raised">Contact</md-button>
  </section>

  <md-button aria-label="foo" href="#">Current date: {{ date | date:'yyyy-MM-dd' }}</md-button>

</md-toolbar>
